.about-brand {
  margin: 66px auto 0 auto;
  padding: 0 15px;
  width: 320px;
  box-sizing: border-box;
}

.about-brand__header {
  font-size: 24px;
  text-align: center;
  color: $red5;
}

.about-brand__wrapper {
  margin-top: 42px;
  min-height: 458px;
  font-size: 16px;
  line-height: 1.2;
  color: $black2;
  background: url(/img/bg/mobile/brand-image.jpg) no-repeat center;
}

.about-brand__container {
  text-align: center;
  background-color: $grey-transparent;

  &--first {
    padding: 23px 14px 20px 14px;

    .about-brand__text {
      &:nth-child(2) {
        margin-top: 22px;
      }
    }
  }

  &--second {
    padding: 0 14px 51px 14px;
  }
}

@media (min-width: 764px) {
  .about-brand {
    margin-top: 103px;
    padding: 0 20px;
    width: 100%;
  }

  .about-brand__header {
    padding-left: 29px;
    font-size: 36px;
  }

  .about-brand__wrapper {
    margin-top: 69px;
    height: 902px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    background: url(/img/bg/tablet/brand-image-1.jpg) no-repeat left top, url(/img/bg/tablet/brand-image-2.jpg) no-repeat right bottom;
  }

  .about-brand__container {
    box-sizing: border-box;
    text-align: left;

    &--first {
      margin-top: 37px;
      padding: 28px 16px 41px 27px;
      width: 457px;
      align-self: flex-end;

      .about-brand__text {
        &:nth-child(2) {
          margin-top: 19px;
        }
      }
    }

    &--second {
      margin-bottom: 70px;
      padding: 46px 16px 42px 14px;
      width: 431px;
      align-self: flex-start;
    }
  }
}

@media (min-width: 1440px) {
  .about-brand {
    margin-top: 158px;
    padding: 0 195px 0 212px;
    width: 1440px;
  }

  .about-brand__header {
    padding-left: 416px;
    font-size: 48px;
    line-height: normal;
    text-align: left;
  }

  .about-brand__wrapper {
    margin-top: 105px;
    height: 1112px;
    font-size: 20px;
    background: url(/img/bg/desktop/brand-image-1.jpg) no-repeat top left, url(/img/bg/desktop/brand-image-2.jpg) no-repeat bottom right;
  }

  .about-brand__container {
    &--first {
      margin-top: 69px;
      padding: 26px 16px 49px 41px;
      width: 613px;

      .about-brand__text {
        &:nth-child(2) {
          margin-top: 24px;
        }
      }
    }

    &--second {
      margin-bottom: 70px;
      padding: 63px 16px 60px 44px;
      width: 611px;
    }
  }
}