@font-face {
  font-family: 'Cormorant';
  src: 
    local('Cormorant Light'),
    url('/fonts/Cormorant-Light.woff') format('woff'),
    url('/fonts/Cormorant-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: 
    local('Cormorant Regular'),
    url('/fonts/Cormorant-Regular.woff') format('woff'),
    url('/fonts/Cormorant-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: 
    local('Cormorant Medium'),
    url('/fonts/Cormorant-Medium.woff') format('woff'),
    url('/fonts/Cormorant-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: 
    local('Cormorant SemiBold'),
    url('/fonts/Cormorant-SemiBold.woff') format('woff'),
    url('/fonts/Cormorant-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: 
    local('Cormorant Bold'),
    url('/fonts/Cormorant-Bold.woff') format('woff'),
    url('/fonts/Cormorant-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: 
    local('Open Sans Regular'),
    url('/fonts/opensans.woff') format('woff'),
    url('/fonts/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}