$black: #342b2b;
$black2: black;
$black3: rgba(52, 43, 43, 0.702);
$white: rgba(255, 255, 255, 1);
$red: #79100b;
$red2: #91161d;
$red3: #952226;
$red4: #952126;
$red5: #91171d;
$grey: #ece5e1;
$cream: #decec5;
$grey-transparent: rgba(236,229,225,0.7);
$bg-hover: #f3f6f7;

$tablet-width: 768px;
$desktop-width: 1150px;